@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    scroll-behavior: smooth;
    
    
}

body {
    min-height: 100vh;
    background: linear-gradient(#000013, #2C3687, #50FFFF);
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    
    z-index: 10000;
}


/*LOGO DESING SETTINGS*/

.Log {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-menu {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu li {
    list-style: none;
    margin-left: 10px;
}

.nav-menu li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
}

.nav-menu li a:hover {
    border-bottom: 0.5px solid #1b3131;
}


/*text js settings*/

#texto2 {
    display: none;
    font-size: em;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1C0522, transparent);
    z-index: 1000;

}
section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#luna {
    mix-blend-mode: screen;
}

section img#FRONT {
    z-index: 10;
}
section img#rocks {
    z-index: 10;
}

#msj {
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    transform: translateY(180px);
}
#btn{
text-decoration: none;
display: inline-block;
padding: 8px 30px;
border-radius: 40px;
-webkit-backdrop-filter: blur(5px); /* para Chrome, Safari */
backdrop-filter: blur(5px); 
border: 1px solid #ffffff40;
color: #f6f5f8;
font-size: 1.5em;
z-index: 11;
transform: translateY(200px);

}
.pre{
    position: relative;
    padding: 100px;
    background: #1C0522;
    z-index: 11;
   
}
.pre h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;

}
.pre p{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    color: #fff;
    
}
/*animations*/

@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }


/*
ul {
    list-style: none;
}

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 50px;
}
*/


/*nav left*/


/*
.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #FEFFFF;
}
*/

.market::-webkit-scrollbar {
    width: 7px;
}

.market::-webkit-scrollbar-thumb {
    background: #55524e;
    border-radius: 5px;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: #414141;
}